<template name="movieInfo">
<head>
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>{{movie}}</h1>
      {{> loginButtons}}
    </header>

    {{#unless isCurrentlyEditing}}
      <div id="movie-info" class="center">
        <h3>{{title}}</h3>
        <p>Chosen by: {{chosenBy}}</p>
        <p>Watched on: {{watchedOn}}</p>
        {{#if lastEditedOn}}
          <p>Last edited on: {{lastEditedOn}}</p>
        {{/if}}
      </div>
    {{else}}
      <div id="edit-movie-info" class="center">
        <form id="edit-movie-info-form">
          <h3><input type="text" id="title" name="title" placeholder={{title}} value={{title}}></h3>
          <p><input type="text" id="chosenBy" name="chosenBy" placeholder={{chosenBy}} value={{chosenBy}}></p>
          <p><input type="date" id="watchedOn" name="watchedOn" placeholder={{watchedOn}} value={{watchedOn}}></p>
        </form>
      </div>
    {{/unless}}

    <div class="center">
      {{#unless isCurrentlyEditing}}
        <a class="btn" href="/">Back</a>
      {{else}}
        <a class="btn" id="cancel-edit">Cancel</a>
      {{/unless}}
      {{#unless isCurrentlyEditing}}
        <a class="btn" id="edit">Edit</a>
      {{else}}
        <a class="btn" id="save">Save</a>
      {{/unless}}
      <a class="btn" id="delete">Delete</a>
    </div>
  </div>
</body>
</template>
