<template name="newMovie">
<head>
  <title>New Movie</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>New Movie</h1>
      {{> loginButtons}}
    </header>

    <form class="center">
      <input type="text" name="title" placeholder="Title">
      <input
        class="form-control typeahead"
        type="text"
        name="chosenBy"
        placeholder="Chosen by"
        autocomplete="off"
        spellcheck="off"
        data-source="users" />
      <input type="date" name="date" placeholder="Date to watch">
      <input class="btn" type="submit">
      <br/>
      <br/>
      <a class="btn center" href="/">Back</a>
    </form>

  </div>
</body>
</template>
